body {
    font-family: verdana;
    font-size: 28px;
    background-color: powderblue;
}
h1 {
}
td {
    font-size: 36px;
}
tr:nth-child(odd) {
    background-color: #efefef;
}
tr:nth-child(even) {
    background-color: white;
}
tr.allpartsfound {
    background-color: #555555;
}
